### Generics and functions defined in this package

export(	
	"anovaVCA",
	"anovaMM",
	"as.matrix.VCA",
	"as.matrix.VCAinference",
	"coef.VCA",
	"fitLMM",
	"fitVCA",
	"fixef",
	"fixef.VCA",
	"getCI",
	"getDF",
	"getL",
	"getMM",
	"getV",
	"getMat",
	"getIP.remlVCA",
	"isBalanced",
	"legend.m",
	"lsmeans",
	"lmerSummary",
	"MPinv",
	"model.frame.VCA",
	"model.matrix.VCA",
	"orderData",
	"predict.VCA",
	"plot.VCA",
	"plotRandVar",
	"print.VCA",
	"print.VCAinference",
	"protectedCall",
	"ranef",
	"ranef.VCA",
	"remlMM",
	"remlVCA",
	"residuals.VCA",
	"solveMME",
	"stepwiseVCA",
	"test.lsmeans",
	"test.fixef",
	"reScale",
	"Scale",
	"summarize.VCA",
	"summarize.VCAinference",
	"scaleData",
	"varPlot",
	"vcov.VCA",
	"vcovVC",		
	"VCAinference"
)

### Packages which are imported (appearing in the Description->Imports enumeration)

import( 
	"graphics",
	"grDevices",
	"stats",
	"methods",
	"Matrix"
)

importFrom("lme4", ranef, lmer, VarCorr, lmerControl)
importFrom("numDeriv", grad)
importFrom("utils", capture.output)


### exported classes
#
#exportClasses( 	"VCA",
#		"VCAinference"
#	     )

S3method(print, VCA)
S3method(coef, VCA)
S3method(residuals, VCA)
S3method(vcov, VCA)
S3method(as.matrix, VCA)
S3method(as.matrix, VCAinference)
S3method(ranef, VCA)
S3method(fixef, VCA)
S3method(print, VCAinference)
S3method(plot, VCA)
S3method(model.frame, VCA)
S3method(predict, VCA)
S3method(model.matrix, VCA)
	     
useDynLib(VCA,.registration=TRUE)
