### Generics and functions defined in this package

export(	
	"anovaVCA",
	"anovaMM",
	"as.matrix.VCA",
	"as.matrix.VCAinference",
	"coef.VCA",
	"getCmatrix",
	"fixef",
	"fixef.VCA",
	"getDF",
	"getL",
	"getMM",
	"getV",
	"getMat",
	"isBalanced",
	"lsmeans",
	"lmerSummary",
	"MPinv",
	"plot.VCA",
	"plotRandVar",
	"print.VCA",
	"print.VCAinference",
	"ranef",
	"ranef.VCA",
	"remlMM",
	"remlVCA",
	"residuals.VCA",
	"solveMME",
	"stepwiseVCA",
	"test.lsmeans",
	"test.fixef",
	"varPlot",
	"vcov.VCA",
	"vcovVC",		
	"VCAinference",
	"Scale",
	"reScale",
	"predict.VCA",
	"orderData",
	"model.frame.VCA",
	"model.matrix.VCA",
	"fitLMM",
	"fitVCA",
	"scaleData"
)

### Packages which are imported (appearing in the Description->Imports enumeration)

import( 
	"graphics",
	"grDevices",
	"stats",
	"methods",
	"Matrix"
)

importFrom("lme4", ranef, lmer, VarCorr)
importFrom("numDeriv", grad)
importFrom("utils", capture.output)


### exported classes

exportClasses( 	"VCA",
		"VCAinference"
	     )

S3method(print, VCA)
S3method(coef, VCA)
S3method(residuals, VCA)
S3method(vcov, VCA)
S3method(as.matrix, VCA)
S3method(as.matrix, VCAinference)
S3method(ranef, VCA)
S3method(fixef, VCA)
S3method(print, VCAinference)
S3method(plot, VCA)
S3method(model.frame, VCA)
S3method(predict, VCA)
S3method(model.matrix, VCA)
	     
useDynLib(VCA)